
* {
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
}

p{
    text-align: left;
}
h1 {
    text-align: center;
}

.thumb-bar{
    text-align: center;
}
.img{
    border-radius: 5px;
    cursor: pointer;
    height: 200px;
}
.hoveredimage {
    text-align: center;
    position: relative;
}
.displayed-img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
}




@media screen and (max-width: 640px){
    #bottom > *{
        display:flex;
        flex-direction: column;
    }
    .img{
        border-radius: 5px;
        cursor: pointer;
        height: 90px;
        width: 90px;
    }
}